@import "../../themes/index";
$wminicontainer-prefix: '.#{$base-prefix}-wminicontainer';

$wminicontainer-bg-color: getVar(widgets-container-background, $widgets-container-background);

$blue: getVar(widgets-color-primary, $widgets-color-primary);
$orange: getVar(widgets-color-orange, $widgets-color-orange);
$red: getVar(widgets-color-red, $widgets-color-red);

$wcontainer-padding: getVar(s5, $s5);
$wcontainer-mobile-padding: getVar(s3, $s3);

$wminicontainer-corner-radius: getVar(corner-radius-r1, $corner-radius-r1);
