@import "../../theme/index";
$wplaceholder-prefix: '.aisc-wplaceholder';

$height: 32px;

$item-height-1: 20px;
$item-height-2: 26px;
$item-height-3: 32px;

$fill: $widgets-color-gray;
$color: $widgets-color-disable;
$font-size: $widgets-font-size-1;

$gap-size: $s2;

