@import "~@alife/aisc-core/scss/aisc.scss";
$wminicontainer-prefix: '.aisc-wminicontainer';

$wminicontainer-bg-color: #FFFFFF;

$blue: $color-link-1;
$orange: $color-warning-1;
$red: $color-error-1;
