@import "../../theme/index";
$wminicontainer-prefix: '.aisc-wminicontainer';

$wminicontainer-bg-color: $widgets-container-background;

$blue: $widgets-color-blue;
$orange: $widgets-color-orange;
$red: $widgets-color-red;
