@import "../../theme/index";
$wminicontainer-prefix: '.aisc-wminicontainer';

$wminicontainer-bg-color: $widgets-container-background;

$blue: $widgets-color-blue;
$orange: $widgets-color-orange;
$red: $widgets-color-red;

$wcontainer-padding: $s5;
$wcontainer-mobile-padding: $s3;

$wminicontainer-corner-radius: $corner-radius-r1;
