@import "./scss/variable.scss";

#{$warrow-prefix} {
  &:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;

    border: $warrow-height solid transparent;
    border-right-width: $warrow-width / 2;
    border-left-width: $warrow-width / 2;
  }

  &#{$warrow-prefix}-up:before {
    border-bottom-color: $blue;
  }

  &#{$warrow-prefix}-down:before {
    position: relative;
    top: $warrow-height;

    border-top-color: $red;
  }
}
