@import "../themes/index";
$bg-color: getVar(widgets-color-decoration-background, $widgets-color-decoration-background);
$bg-shadow: getVar(widgets-circle-inner-shadow, $widgets-circle-inner-shadow);

.#{$base-name}.G2MultiCircle {
  position: relative;
  text-align: center;
  box-sizing: border-box;

  .#{$base-name}.circle-innerBackground {
    background: $bg-color;
    box-shadow: $bg-shadow;
    z-index: 0;
  }

  .#{$base-name}-children {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 99;
    //overflow: auto;
  }
}