@import './scss/variable.scss';
#{$wcontainer-prefix} {
  background: $wcontainer-bg-color;
  display: flex;
  flex-direction: column;
  border-radius: $wcontainer-corner-radius;
  padding: $wcontainer-padding;

  // 移动端适配
  &#{$wcontainer-prefix}-mobile {
    padding: $wcontainer-mobile-padding;

    #{$wcontainer-prefix}-title {
      padding: $wcontainer-mobile-padding;
    }
  }

  #{$wcontainer-prefix}-title {
    padding-bottom: $wcontainer-padding;
    font-size: $wcontainer-title-font-size;
    line-height: 1;
    color: $wcontainer-title-color;
    //border-bottom: 1px solid $wcontainer-split-line;

    &#{$wcontainer-prefix}-title-border {
      position: relative;
      padding-left: 0.75em;

      &:before {
        content: "";
        position: absolute;
        // fix: 兼容移动端，不设置top，直接和文字顶部对齐
        //top: $wcontainer-padding;
        left: 0;

        // 适配字体大小，直接使用em
        width: 0.25em;
        height: 1em;
        background: $wcontainer-title-border-color;
        border-radius: 0.125em;
      }
    }

    //#{$wcontainer-prefix}-title-border {
    //  display: inline-block;
    //
    //  width: $wcontainer-cross-size-1;
    //  height: $s4;
    //  margin-right: $s2;
    //  vertical-align: -2px;
    //  background: $widgets-color-blue;
    //  border-radius: 10px;
    //}

    >#{$wcontainer-prefix}-operation {
      float: right;

      font-size: $wcontainer-extra-font-size;

      a {
        color: $wcontainer-extra-color;

        &:hover {
          color: $wcontainer-extra-color-hover;
        }
      }
    }
  }

  #{$wcontainer-prefix}-main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &#{$wcontainer-prefix}-cross {
      >#{$wcontainer-prefix}-multi-row-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        //padding: 0 $s5;
        .next-row {
          flex: 1; //padding-top: $s2;
          //padding-bottom: $s2;
          border-bottom: 1px solid $wcontainer-split-line;
          &:last-child {
            border-bottom: none;
          }
          .next-col {
            margin-right: $wcontainer-cross-size-1;
            margin-left: $wcontainer-cross-size-1;
            padding-left: $wcontainer-cross-size-2;
            border-left: 1px solid $wcontainer-split-line;
            &:first-child {
              border-left: none;
              margin-left: 0;
              padding-left: 0;
            }
          }
        }
      }
    }
    &#{$wcontainer-prefix}-main-one-chart {
      // 修复图表无法缩小的问题
      // 设置 overflow 以建立一个新的 BFC，让里层图表不会撑开外层
      overflow: hidden;
    }
    >.next-row {
      padding: 0;
      >.next-col {
        padding: 0;
      }
    }
    &.center {
      text-align: center;
    }

    &#{$wcontainer-prefix}-main-critical-error {
      align-items: center;
      overflow: auto;
      color: $wcontainer-error-color;

      pre {
        margin: 0;
        padding: 0;
        font-size: 1em;
      }
    }
  }
  #{$wcontainer-prefix}-divider {
    width: 1px;
    height: 30px;
    background: $wcontainer-split-line;
  }
}
