@import './scss/mixin.scss';
@import './scss/variable.scss';

#{$wcontainer-prefix} {
  background: $wcontainer-bg-color;
  // padding-top:$s5;
  // padding-bottom: $s5;
  display: flex;
  flex-direction: column;

  #{$wcontainer-prefix}-title {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    color: $color-n2-4;
    border-bottom: 1px solid $color-n1-5;
  }

  #{$wcontainer-prefix}-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &#{$wcontainer-prefix}-cross {
      > #{$wcontainer-prefix}-multi-row-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        .next-row {
          flex: 1;
          //padding-top: $s2;
          //padding-bottom: $s2;
          border-bottom: 1px solid $color-n1-6;
          &:last-child {
            border-bottom: none;
          }

          .next-col {
            margin-right: $s1;
            margin-left: $s1;
            padding-left: $s3;
            border-left: 1px solid $color-n1-6;
            &:first-child {
              border-left: none;
              margin-left: 0;
              padding-left: 0;
            }
          }
        }
      }
    }

    > .next-row {
      padding: 0 $s5;
      > .next-col {
        padding: 0;
      }
    }
    &.center {
      text-align: center;
    }
  }

  #{$wcontainer-prefix}-divider {
    width: 1px;
    height: 30px;
    background: $color-n1-6;
  }
}
