@import './scss/mixin.scss';
@import './scss/variable.scss';
#{$wcontainer-prefix} {
  background: $wcontainer-bg-color;
  display: flex;
  flex-direction: column;

  // 移动端适配
  &#{$wcontainer-prefix}-mobile {
    #{$wcontainer-prefix}-title {
      margin-left: $wcontainer-mobile-padding;
      margin-right: $wcontainer-mobile-padding;
      padding-top: $wcontainer-mobile-padding;
    }

    #{$wcontainer-prefix}-main {
      padding: 0 $wcontainer-mobile-padding $wcontainer-mobile-padding $wcontainer-mobile-padding;

      &.no-title {
        padding-bottom: 0;
      }

      &#{$wcontainer-prefix}-main-one-chart {
        // 注意：在版本 2.1.11 后已经修复了这个问题，可以带有padding
        // 由于内部widgets读取的是 clientWidth 和 clientHeight，所以外部这个不能带有padding，需要使用margin控制
        padding: 0;
        margin-left: $wcontainer-mobile-padding;
        margin-right: $wcontainer-mobile-padding;
        margin-bottom: $wcontainer-mobile-padding;

        &.no-title {
          margin-top: $wcontainer-padding - $s3;
        }
      }
    }
  }

  #{$wcontainer-prefix}-title {
    margin-left: $wcontainer-padding;
    margin-right: $wcontainer-padding;
    padding-top: $wcontainer-padding;
    padding-bottom: $wcontainer-padding - $s3;
    font-size: $wcontainer-title-font-size;
    line-height: 1;
    color: $wcontainer-title-color;
    //border-bottom: 1px solid $wcontainer-split-line;

    &#{$wcontainer-prefix}-title-border {
      position: relative;
      padding-left: 0.75em;

      &:before {
        content: "";
        position: absolute;
        // fix: 兼容移动端，不设置top，直接和文字顶部对齐
        //top: $wcontainer-padding;
        left: 0;

        // 适配字体大小，直接使用em
        width: 0.25em;
        height: 1em;
        background: $widgets-color-blue;
        border-radius: 0.125em;
      }
    }

    //#{$wcontainer-prefix}-title-border {
    //  display: inline-block;
    //
    //  width: $s1;
    //  height: $s4;
    //  margin-right: $s2;
    //  vertical-align: -2px;
    //  background: $widgets-color-blue;
    //  border-radius: 10px;
    //}

    >#{$wcontainer-prefix}-operation {
      float: right;

      font-size: $font-size-base-caption;

      a {
        color: $widgets-color-text-2;

        &:hover {
          color: $widgets-color-text-1;
        }
      }
    }
  }

  #{$wcontainer-prefix}-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 $wcontainer-padding $wcontainer-padding $wcontainer-padding;

    &.no-title {
      padding-bottom: 0;
    }

    &#{$wcontainer-prefix}-cross {
      >#{$wcontainer-prefix}-multi-row-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        //padding: 0 $s5;
        .next-row {
          flex: 1; //padding-top: $s2;
          //padding-bottom: $s2;
          border-bottom: 1px solid $wcontainer-split-line;
          &:last-child {
            border-bottom: none;
          }
          .next-col {
            margin-right: $s1;
            margin-left: $s1;
            padding-left: $s3;
            border-left: 1px solid $wcontainer-split-line;
            &:first-child {
              border-left: none;
              margin-left: 0;
              padding-left: 0;
            }
          }
        }
      }
    }
    &#{$wcontainer-prefix}-main-one-chart {
      // 注意：在版本 2.1.11 后已经修复了这个问题，可以带有padding
      // 由于内部widgets读取的是 clientWidth 和 clientHeight，所以外部这个不能带有padding，需要使用margin控制
      padding: 0;
      margin-left: $wcontainer-padding;
      margin-right: $wcontainer-padding;
      margin-bottom: $wcontainer-padding;
      &.no-title {
        margin-top: $s2;
      }
    }
    >.next-row {
      padding: 0;
      >.next-col {
        padding: 0;
      }
    }
    &.center {
      text-align: center;
    }
  }
  #{$wcontainer-prefix}-divider {
    width: 1px;
    height: 30px;
    background: $wcontainer-split-line;
  }
}
