.state-index{
  h5{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .state-index-count{
    margin-top: 28px;
    margin-bottom: 22px;

    .state-index-count-num{
      text-align: center;
      span{
        font-size: 24px;
        font-family: "Helvetica Nene", "Helvetica";
      }
      b{
        font-weight: normal;
        font-size: 14px;
      }
    }
    .state-index-count-sub{
      text-align: center;
      font-size: 14px;
      line-height: 24px;
    }
  }
  .state-index-sub{
    .state-index-sub-item{
      margin-bottom: 7px;
      text-align: center;

      .state-index-sub-item-box{
        display: inline-block;
        width: 75%;
        max-width: 160px;
        height: 30px;
        border: 1px solid #0580F2;
        border-radius: 4px;
        padding: 0 10px;

        b{
          font-size: 12px;
          font-weight: normal;
          color: #0580F2;
          line-height: 28px;
          float: left;
        }
        span{
          font-size: 16px;
          color: #0580F2;
          line-height: 28px;
          float: right;
        }
      }
    }
    .state-index-sub-warn>.state-index-sub-item-box{
      border: 1px solid #EF5350;
      b,span{
        color: #EF5350;
      }
    }
  }
}