{
    "presets": [
        "babel-preset-react",
        ["babel-preset-env", { "loose": true }],
        "babel-preset-stage-0"
    ],
    "plugins": [
        "babel-plugin-transform-react-es6-displayname",
        "babel-plugin-transform-object-assign",
        "babel-plugin-transform-proto-to-assign"
    ]
}
