{
  "extends": "eslint-config-ali",
  "rules": {
    // 低版本 nodejs 需要在 strict 模式下支持 es6 语法
    "strict": "off",
    "no-console": "off",
    "import/no-dynamic-require": "off",
    // 除文件顶部外也可在其他位置 require, 有些地方需要动态获取路径才引入
    "global-require": "off",
    "require-yield": "off"
  }
}
