############################
# NPM files
############################
**/node_modules
**/bower_components
node_modules
bower_components
npm-debug.log


############################
# Temp files
############################
temp
tmp
.tmp
*.swo
*.swp
*.swn
*.swm
*.diff
*.log
*.patch
*.bak
*.log
*.iml
*.ipr
*.iws
*.out
*.gz
*#
*~
~*


############################
# Editor & OS files
############################
.idea
.DS_STORE
.Trashes
.project
.rebooted
.*proj
Thumbs.db
ehthumbs.db
Icon?
nbproject


############################
# Report files
############################
coverages
coverage
reports
report
lib-cov
html-report
nohup.out
out
logs
log


############################
# Other
############################
.node_history
.svn
**/tms
.nodejs-cache
.node-diamond-client-cache
node_hsf_config_snapshots
run
