.aisc-widgets.G2LineBar {
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  // last-of-type 选择器配合css类会不生效，所以放在js逻辑中处理
  //.g2-legend:last-of-type {
  //  margin-right: 0 !important;
  //}

  .g2-legend-list-item:last-child {
    margin-right: 0 !important;
  }
}
