/* highchart hack */
@import '~@alife/aisc-core/scss/aisc.scss';

.p2c-line-bar .highcharts-tooltip > span,
.ac-tooltip {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: $s3;
  border-radius: $s1;
}
.p2c-line-bar .highcharts-tooltip h5,
.ac-tooltip .ac-title {
  font-family: $font-family-base;
  font-size: $s3;
  font-weight: normal;
  color: $color-text1-2;
  line-height: normal;
  margin-top: 0;
}
.p2c-line-bar .highcharts-tooltip ul,
.ac-tooltip .ac-list {
  list-style: none;
}
.p2c-line-bar .highcharts-tooltip li,
.ac-tooltip .ac-list li {
  font-family: $font-family-base;
  font-size: $s3;
  color: $color-text1-4;
  word-break: break-all;

  span {
    margin-left: $s2;
  }
  margin-top: $s1;
}
.p2c-line-bar .highcharts-tooltip li i,
.ac-tooltip .ac-list li i {
  width: 6px;
  height: 6px;
  display: inline-block;
  margin-right: $s1;
  vertical-align: middle;
  border-radius: 50%;
}

.p2c-line-bar .p2c-title {
  font-size: $s4;
  font-family: $font-family-base;
  // margin-bottom: 8px;
  height: 26px;

  h4 {
    font-weight: normal;
    font-size: 16px;
    color: $color-text1-4;
    display: inline-block;
    margin-right: $s2;
  }

  h5 {
    font-weight: normal;
    font-size: $s3;
    color: #989898;
    display: inline-block;
  }
}

.p2c-line-bar .p2c-legend,
.ac-line-legend {
  position: absolute;
  // left: 0;
  // bottom: 0;
  // width: 100%;
  right: 0;
  top: 0;
  ul {
    display: block;
    line-height: initial;
    //margin-bottom: 8px;
    //text-align: center;
  }

  li {
    list-style: none;
    display: inline-block;
    margin-right: $s3;
    font-size: $s3;
    font-family: $font-family-base;
    cursor: pointer;
    color: $color-text1-4;
    &:last-child {
      margin-right: 0px;
    }
  }
  li > i {
    display: inline-block;
    vertical-align: baseline;
    width: 6px;
    height: 6px;
    margin-right: $s1;
    border-radius: 50%;
  }
  li.p2c-legend-hidden i {
    background-color: #dddddd !important;
  }
  li.p2c-legend-hidden span {
    color: #dddddd !important;
  }
}
