@import "../../themes/index";
$wcount-prefix: '.aisc-wcount';

$font-family: getVar(widgets-font-family-txd-m-number, $widgets-font-family-txd-m-number);
$color: getVar(widgets-color-text-1, $widgets-color-text-1);
