@font-face {
    font-family: "DIN-Medium";
    src: url("DIN-Medium.eot"); /* IE9 */
    src: url("DIN-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("DIN-Medium.woff") format("woff"), /* chrome、firefox */
    url("DIN-Medium.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("DIN-Medium.svg#DIN-Medium") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


