@import "../../theme/index";
@mixin wcircle-font {
  font-family: $font-family-txd-medium-number;
  font-size: $font-size-xlarge-number;
  line-height: 1;
  color: $widgets-color-text-1;
}

@mixin subTitle-font {
  font-family: $font-family-base;
  font-size: $font-size-base-title;
  line-height: 1;
  color: $widgets-color-text-2;
}
