@mixin wcircle-font {
  font-family: 'Din Alternate';
  font-weight: 'medium';
  font-size: 32px;
  line-height: 1;
  color: $color-text1-4;
}

@mixin subTitle-font {
  font-family: "Microsoft YaHei";
  font-weight: 'medium';
  font-size: 20px;
  line-height: 1;
  color: $color-text1-4;
}
