@import "../../themes/index";
$wcircle-prefix: '.aisc-wcircle';

$text-family: getVar(widgets-font-family-txd-m-number, $widgets-font-family-txd-m-number);
$text-size-l: getVar(widgets-font-size-7, $widgets-font-size-7);
$text-size-m: getVar(widgets-font-size-4, $widgets-font-size-4);
$text-size-s: getVar(widgets-font-size-1, $widgets-font-size-1);

$text-color-1: getVar(widgets-color-text-1, $widgets-color-text-1);
$text-color-2: getVar(widgets-color-text-2, $widgets-color-text-2);
$number-color: getVar(widgets-circle-number, $widgets-circle-number);
$blue: getVar(widgets-color-blue, $widgets-color-blue);
$green: getVar(widgets-color-green, $widgets-color-green);
$orange: getVar(widgets-color-orange, $widgets-color-orange);
$red: getVar(widgets-color-red, $widgets-color-red);
$empty: getVar(widgets-circle-stroke-background, $widgets-circle-stroke-background);

$size-1: getVar(s1, $s1);
$size-2: getVar(s2, $s2);
