@import "./scss/variable.scss";

#{$warrow-prefix} {
  &:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    // 覆盖高版本aisc中对 :before 伪元素定义的全局样式
    vertical-align: baseline;

    border: $warrow-height solid transparent;
    border-right-width: $warrow-width * 0.5;
    border-left-width: $warrow-width * 0.5;
  }

  &#{$warrow-prefix}-up:before {
    border-bottom-color: currentColor;
  }

  &#{$warrow-prefix}-down:before {
    position: relative;
    top: $warrow-height;

    border-top-color: currentColor;
  }
}
