@import "../../theme/index";
$wcontainer-prefix: '.aisc-wcontainer';

$wcontainer-bg-color: $widgets-container-background;

$wcontainer-title-color: $widgets-container-title;
$wcontainer-title-font-size: $widgets-text-font-size-3;

$wcontainer-split-line: $widgets-container-split-line;

$wcontainer-padding: $widgets-container-padding;
$wcontainer-mobile-padding: $widgets-mobile-container-padding;
