@import "../../theme/normal";
$wcontainer-prefix: '.aisc-wcontainer';

$wcontainer-bg-color: $widgets-container-background;
$wcontainer-title-color: $widgets-container-title;
$wcontainer-split-line: $widgets-container-split-line;
