@import "../../theme/index";
$wcontainer-prefix: '.aisc-wcontainer';

$wcontainer-bg-color: $widgets-container-background;

$wcontainer-title-color: $widgets-container-title;
$wcontainer-title-font-size: $widgets-text-font-size-3;

$wcontainer-split-line: $widgets-container-split-line;
$wcontainer-title-border-color: $widgets-color-category-1;

$wcontainer-extra-color: $widgets-color-text-2;
$wcontainer-extra-color-hover: $widgets-color-text-1;
$wcontainer-extra-font-size: $widgets-font-size-1;

$wcontainer-padding: $s5;
$wcontainer-mobile-padding: $s3;

$wcontainer-corner-radius: $corner-radius-r1;

$wcontainer-cross-size-1: $s1;
$wcontainer-cross-size-2: $s3;
