@import "../../theme/index";
$wcontainer-prefix: '.aisc-wcontainer';

$wcontainer-bg-color: getVar(widgets-container-background, $widgets-container-background);

$wcontainer-title-color: getVar(widgets-container-title, $widgets-container-title);
$wcontainer-title-font-size: getVar(widgets-font-size-3, $widgets-font-size-3);

$wcontainer-split-line: getVar(widgets-container-split-line, $widgets-container-split-line);
$wcontainer-title-border-color: getVar(widgets-color-category-1, $widgets-color-category-1);

$wcontainer-extra-color: getVar(widgets-color-text-2, $widgets-color-text-2);
$wcontainer-extra-color-hover: getVar(widgets-color-text-1, $widgets-color-text-1);
$wcontainer-extra-font-size: getVar(widgets-font-size-1, $widgets-font-size-1);

$wcontainer-padding: getVar(s5, $s5);
$wcontainer-mobile-padding: getVar(s3, $s3);

$wcontainer-corner-radius: getVar(corner-radius-r1, $corner-radius-r1);

$wcontainer-cross-size-1: getVar(s1, $s1);
$wcontainer-cross-size-2: getVar(s3, $s3);

$wcontainer-error-color: getVar(widgets-color-red, $widgets-color-red);
