@import "./theme/index";

/* Widgets 专用字体，仅包含20个字符 */
@font-face {
  font-family: "DINMediumNumber";
  src: url("//g.alicdn.com/ls/lib-common/1.0.3/dinmedium/dinmedium.eot"); /* IE9 */
  src: url("//g.alicdn.com/ls/lib-common/1.0.3/dinmedium/dinmedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("//g.alicdn.com/ls/lib-common/1.0.3/dinmedium/dinmedium.woff") format("woff"), /* chrome、firefox */
  url("//g.alicdn.com/ls/lib-common/1.0.3/dinmedium/dinmedium.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
  url("//g.alicdn.com/ls/lib-common/1.0.3/dinmedium/dinmedium.svg#fonteditor") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

/* 全局公用样式 */
.aisc-widgets {
  .widgets-reset-button {
    position: absolute;
    z-index: 1;
    padding: 4px;

    font-size: 12px;
    color: $widgets-color-blue;
    background: $widgets-color-white;

    border: 1px solid $widgets-color-gray;
    border-radius: 2px;

    cursor: pointer;
    user-select: none;
  }

  .g2-tooltip-item-value {
    margin-left: $s2;
  }

  .g2-legend-value {
    margin-left: $s2;
  }
}