@import "../theme/normal";

.aisc-widgets.G2Map {
  position: relative;
  // 使缩放后的地图居中
  display: flex;
  justify-content: center;
  align-items: center;

  .aisc-widgets-map-south-china-sea {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .aisc-widgets-map-legend {
    position: absolute;
    left: 0;
    bottom: 0;

    // 注意！ 这个需要和 g2Factory 中的 g2-legend 的样式一致
    //overflow: auto;
    font-family: $font-family-base;
    font-size: $font-size-base-caption;
    line-height: $font-size-base-caption;
    color: $color-n2-4;

    .g2-legend:last-child .g2-legend-list-item:last-child {
      margin-bottom: 0 !important;
    }
  }

  .aisc-widgets-map-custom-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
  }
  .aisc-widgets-map-custom-point {
    position: absolute;
    // 将元素中心位置对齐到坐标点
    transform: translate(-50%, -50%);
  }

  // fix 在开发项目中被 display: inline-block 导致canvas上移两个像素的问题
  canvas {
    display: block;
  }

  .g2-tooltip-list > li:first-child {
    margin-top: 0 !important;
  }

  .g2-legend-list-item:last-child {
    margin-right: 0 !important;
  }
}
