@import "../theme/normal";

.aisc-wperline{
  height: 20px;
  line-height: 20px;
  background: $widgets-mini-card-empty;
  margin-top: 5px;
  margin-right: 10px;

  .aisc-wperline-num{
    height: 20px;
    line-height: 20px;
    background: rgba($widgets-color-blue, 0.2);
    text-align: right;
    color: $widgets-color-blue;
    border-right: 2px solid $widgets-color-blue;

    span {
      display: inline-block;
      margin-right: 5px;
    }
  }

  &.aisc-wperline-status-error{
    .aisc-wperline-num{
      background: rgba($widgets-color-red, 0.2);
      color: $widgets-color-red;
      border-color: $widgets-color-red;
    }
  }
}