@import '../themes/index';

$wnumbercard-prefix: '.#{$base-prefix}-wnumbercard';

$text-color: getVar(widgets-numbercard-color-text, $widgets-numbercard-color-text);
$label-color: getVar(widgets-color-text-2, $widgets-color-text-2);

$font-family: getVar(widgets-font-family-txd-m-number, $widgets-font-family-txd-m-number);

$font-size-small: getVar(widgets-font-size-1, $widgets-font-size-1);
$font-size-big: getVar(widgets-font-size-5, $widgets-font-size-5);

$tooltip-border-color: getVar(widgets-tooltip-cross-line, $widgets-tooltip-cross-line);
$tooltip-bg-color: getVar(widgets-color-background, $widgets-color-background);

#{$wnumbercard-prefix}-data-item-container {
  padding: 12px 20px 12px 16px;
  background: var(--background-color);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: var(--hover-color);
    opacity: var(--hover-opacity);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
  }

  &:active {
    background: var(--click-color);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
  }

  #{$wnumbercard-prefix}-item-content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #{$wnumbercard-prefix}-main-content {
    min-width: 0;
    flex: 1;
  }

  #{$wnumbercard-prefix}-label-value-container {
    display: flex;
    align-items: center;
  }

  #{$wnumbercard-prefix}-item-label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #{$wnumbercard-prefix}-item-label {
    font-size: $font-size-small;
    color: $label-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
    max-width: 100%;
  }

  #{$wnumbercard-prefix}-tooltip {
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid $tooltip-border-color;
    z-index: 1001;
    background-color: $tooltip-bg-color;

    #{$wnumbercard-prefix}-tooltip-arrow {
      display: block;
      left: calc(50% - 8px);
      top: -16px;
      width: 16px;
      height: 16px;
      overflow: hidden;
    }

    #{$wnumbercard-prefix}-arrow-content {
      margin: 4px;
      content: '';
      width: 8px;
      height: 8px;
      transform: translateY(8px) rotate(45deg);
      border: 1px solid $tooltip-border-color;
      background-color: $tooltip-bg-color;
    }

    #{$wnumbercard-prefix}-tooltip-content {
      word-break: break-all;
      color: $label-color;
      font-size: $font-size-small;
    }
  }

  #{$wnumbercard-prefix}-item-value {
    display: flex;
    align-items: flex-end;
    line-height: 1;
    color: $text-color;
    // max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    #{$wnumbercard-prefix}-item-unit {
      font-size: $font-size-small;
      margin-left: 2px;
    }
  }

  #{$wnumbercard-prefix}-value-number {
    font-size: $font-size-big;
    color: var(--value-color);
  }

  #{$wnumbercard-prefix}-question-icon {
    width: 14px;
    height: 14px;
    margin-left: 2px;
  }

  #{$wnumbercard-prefix}-tag-container {
    display: flex;
    flex-direction: row;
  }

  #{$wnumbercard-prefix}-item-tag {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
    border-radius: 2px;
    margin-left: 8px;
    padding: 0 8px;

    #{$wnumbercard-prefix}-tag-trend {
      width: 10px;
      height: 12px;
      margin-right: 4px;
    }

    #{$wnumbercard-prefix}-tag-value {
      font-size: $font-size-small;
    }
  }

  #{$wnumbercard-prefix}-item-chart {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

#{$wnumbercard-prefix}-data-overview-container {
  width: 100%;
  height: 100%;

  #{$wnumbercard-prefix}-data-overview-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  #{$wnumbercard-prefix}-divider {
    display: inline-block;
    width: 1px;
    background: $tooltip-border-color;
    height: 60px;
  }
}

#{$wnumbercard-prefix}-number {
  font-family: $font-family;
}
