.healthy-status {
  width: 100%;
  text-align: center;
  color: #333333;
  .weight {
    font-weight: bold;
  }
  .ma {
    margin: auto;
  }
  .ml12 {
    margin-left: 12px;
  }
  .cursor-p{
    cursor: pointer;
  }
  .healthy-status-title {
    padding-top: 11px;
    margin: auto;
    font-size: 24px;
  }
  .healthy-status-sub-title {
    margin-top: 8px;
    font-size: 20px;
    .healthy-status-sub-title-data {
      font-size: 24px;
    }
  }
  .healthy-status-title-data {
    color: #EF5350;
  }
  .healthy {
    color: #0580F2;
  }
  .healthy-status-details {
    margin-top: 27px;
    display: flex;
    .healthy-status-details-detail {
      flex: 1;
      border-left: 1px solid #D8D8D8;
      text-align: left;
      padding: 0 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space:nowrap;
      &:first-child {
        border-left: 0;
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0px;
      }
      .healthy-status-details-detail-data {
        font-size: 20px;
        color: #0580F2;
      }
      .over-threshold{
        color: #EF5350;
      }
      .healthy-status-details-detail-text {
        font-size: 14px;
      }
    }
  }
}