@import "./base.scss";

// 背景颜色
$widgets-color-background: #232533;
$widgets-color-layout-background: #171924 !default;

// 主色和状态色
$widgets-color-blue: #3F90FF;
$widgets-color-orange: #FF9919;
$widgets-color-red: #FF656B;
$widgets-color-green: #3FC453;
$widgets-color-gray: #393C4D;

// 图形元素色阶
$widgets-color-category-1: $widgets-color-blue;
$widgets-color-category-2: #5CCDBB;
$widgets-color-category-3: #FACD4F;
$widgets-color-category-4: #9979F2;
$widgets-color-category-5: #006CD9;
$widgets-color-category-6: #4AD051;
$widgets-color-category-7: #5C60E6;
$widgets-color-category-8: #CD5C97;
$widgets-color-category-9: #52D7FF;
$widgets-color-category-10: #FAB34F;
$widgets-color-category-11: #E65C5C;
$widgets-color-category-12: #9B5CE6;

$widgets-color-linear-1: $widgets-color-blue;
$widgets-color-linear-2: #3C85EB;
$widgets-color-linear-3: #397AD6;
$widgets-color-linear-4: #3670C2;
$widgets-color-linear-5: #3464AD;
$widgets-color-linear-6: #315A99;
$widgets-color-linear-7: #2E5084;
$widgets-color-linear-8: #2B4470;
$widgets-color-linear-9: #283B5E;
$widgets-color-linear-10: #252F47;

// 文字颜色
$widgets-color-text-1: #F7F8F2;
$widgets-color-text-2: #C5CACE;
$widgets-color-text-3: #9EA5B2;
$widgets-color-disable: #777D8F;

// 字体
$widgets-font-family-txd-m-number: TXDDINMediumNumber, "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;
$widgets-font-family-txd-r-number: TXDDINRegularNumber, "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;

// 字号
$widgets-font-size-1: 12px !default;
$widgets-font-size-2: 14px !default;
$widgets-font-size-3: 16px !default;
$widgets-font-size-4: 18px !default;
$widgets-font-size-5: 24px !default;
$widgets-font-size-6: 28px !default;
$widgets-font-size-7: 32px !default;

// 图例 Legend
$widgets-legend-uncheck: #777D8F;
$widgets-legend-text: #F7F8F2;

// label
$widgets-label-text: #F7F8F2;

// 提示信息 tooltip
$widgets-tooltip-background: #323545;
$widgets-tooltip-padding: 12px !default;
$widgets-tooltip-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
$widgets-tooltip-corner-radius: 4px !default;
$widgets-tooltip-cross-line: #51566B;
$widgets-tooltip-cross-react: #404354;
$widgets-tooltip-cross-react-opacity: 0.5;
$widgets-tooltip-title: #9EA5B2;
$widgets-tooltip-text: #F7F8F2;
$widgets-tooltip-marker-fill: $widgets-color-background;

// 轴 Axis
$widgets-axis-label: #9EA5B2;
$widgets-axis-line: #393C4D;
$widgets-axis-grid: #323545;

// 辅助标记 guide
$widgets-guide-region-opacity: 0.1 !default;

// 图形元素 geom
$widgets-shape-area-opacity: 0.1 !default;
$widgets-shape-interval-opacity: 1 !default;

// 卡片
$widgets-container-background: $widgets-color-background;
$widgets-container-padding: 20px !default;
$widgets-container-mobile-padding: 12px !default;
$widgets-container-corner-radius: 4px !default;
$widgets-container-shadow: none !default;
$widgets-container-title: $widgets-color-text-1;
$widgets-container-split-line: #393C4D;

// 地图
$widgets-map-area-bg: #393C4D;
$widgets-map-area-border: #232533;
$widgets-map-label: #C5CACE;

// 圆环
$widgets-circle-stroke-background: #51566B;
$widgets-circle-number: currentColor;
$widgets-circle-stroke-width: 6px !default;

// 桑基图
$widgets-sankey-edge: #393C4D;
$widgets-sankey-node-text: #9EA5B2;

// 滚动条颜色
$widgets-scrollbar-bg: #404354;
$widgets-scrollbar-thumb: #51566B;

// 线图粗细
$widgets-line-width: 2;