@import './base.scss';

// 背景颜色
$widgets-color-background: #141414;
$widgets-color-layout-background: #0a0a0a !default;
$widgets-color-container-background: #1c1c1c !default;
$widgets-color-decoration-background: #1c1c1c !default;

// 主色和状态色
$widgets-color-primary: #5e51fb;
$widgets-color-blue: #307ac9;
$widgets-color-normal: #2789f2;
$widgets-color-orange: #ff8d16;
$widgets-color-red: #f2493a;
$widgets-color-green: #12b862;
$widgets-color-gray: #666666;
$widgets-color-purple: #6154d6;
$widgets-color-yellow: #ffc619;

// 各状态色对应的背景色
$widgets-color-bg-primary: rgba(94, 81, 1251, 0.5) !default;
$widgets-color-bg-normal: rgba(38, 60, 84, 0.5) !default;
$widgets-color-bg-blue: rgba(38, 60, 84, 0.5) !default;
$widgets-color-bg-orange: rgba(84, 61, 36, 0.5) !default;
$widgets-color-bg-red: rgba(82, 40, 37, 0.5) !default;
$widgets-color-bg-green: rgba(28, 66, 46, 0.5) !default;
$widgets-color-bg-purple: rgba(45, 40, 84, 0.5) !default;
$widgets-color-bg-yellow: rgba(82, 68, 28, 0.5) !default;

// 图形元素色阶
$widgets-color-category-1: $widgets-color-primary;
$widgets-color-category-2: #38c7bd;
$widgets-color-category-3: #dd3be3;
$widgets-color-category-4: #84b3fd;
$widgets-color-category-5: #b27208;
$widgets-color-category-6: #fe8bab;
$widgets-color-category-7: #18918b;
$widgets-color-category-8: #c3a0ff;
$widgets-color-category-9: #619004;
$widgets-color-category-10: #eaa31f;
$widgets-color-category-11: #938bff;
$widgets-color-category-12: #73d9d0;
$widgets-color-category-13: #ed5bf2;
$widgets-color-category-14: #abcbff;
$widgets-color-category-15: #cf8800;
$widgets-color-category-16: #feb5ca;
$widgets-color-category-17: #2aaca4;
$widgets-color-category-18: #d6beff;
$widgets-color-category-19: #72aa03;
$widgets-color-category-20: #fcbf54;

$widgets-color-linear-1: $widgets-color-primary;
$widgets-color-linear-2: #6f66e8;
$widgets-color-linear-3: #655dd0;
$widgets-color-linear-4: #5b54b9;
$widgets-color-linear-5: #514ba1;
$widgets-color-linear-6: #47428a;
$widgets-color-linear-7: #3c3872;
$widgets-color-linear-8: #322f5b;
$widgets-color-linear-9: #282643;
$widgets-color-linear-10: #1e1d2c;

// 告警等级色
$widgets-color-p1: #b81838;
$widgets-color-p2: #f2493a;
$widgets-color-p3: #ff8d16;
$widgets-color-p4: #fac31e;
$widgets-color-p5: #d1bb4f;
$widgets-color-p6: #00bacf;
$widgets-color-p7: #1289b8;

// 各告警色对应的背景色
$widgets-color-bg-p1: rgba(77, 34, 43, 0.5) !default;
$widgets-color-bg-p2: rgba(82, 40, 37, 0.5) !default;
$widgets-color-bg-p3: rgba(84, 61, 36, 0.5) !default;
$widgets-color-bg-p4: rgba(82, 68, 28, 0.5) !default;
$widgets-color-bg-p5: rgba(71, 65, 34, 0.5) !default;
$widgets-color-bg-p6: rgba(31, 73, 79, 0.5) !default;
$widgets-color-bg-p7: rgba(30, 60, 71, 0.5) !default;

// 文字颜色
$widgets-color-text-1: #cccccc;
$widgets-color-text-2: #8c8c8c;
$widgets-color-text-3: #666666;
$widgets-color-disable: #4d4d4d;

// 字体
$widgets-font-family-txd-m-number: SFProMedium, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft YaHei', Arial,
  sans-serif !default;
$widgets-font-family-txd-r-number: SFProRegular, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft YaHei', Arial,
  sans-serif !default;

// 字号
$widgets-font-size-1: 12px !default;
$widgets-font-size-2: 14px !default;
$widgets-font-size-3: 16px !default;
$widgets-font-size-4: 18px !default;
$widgets-font-size-5: 24px !default;
$widgets-font-size-6: 28px !default;
$widgets-font-size-7: 32px !default;
$widgets-font-size-8: 36px !default;

// 图例 Legend
$widgets-legend-uncheck: #4d4d4d;
$widgets-legend-text: #cccccc;
// legend展开折叠按钮的背景色
$widgets-legend-button-color: rgba(28, 28, 28, 0.91) !default;
// legend展开折叠按钮的边框色
$widgets-legend-button-border-color: #333333 !default;
// legend展开折叠按钮的阴影
$widgets-legend-button-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1) !default;

// todo: 暗色待色彩规范定下后修改，目前随便写了两个颜色
// 自定义legend的文字颜色
$widgets-legend-text-normal: #cccccc !default;
// 自定义legend的文字颜色（高亮态）
$widgets-legend-text-highlight: #d9d9d9 !default;

// label
$widgets-label-text: #cccccc;

// 提示信息 tooltip
$widgets-tooltip-background: #141414;
$widgets-tooltip-padding: 12px !default;
$widgets-tooltip-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
$widgets-tooltip-corner-radius: 4px !default;
$widgets-tooltip-cross-line: #4d4d4d;
$widgets-tooltip-cross-react: #4d4d4d;
$widgets-tooltip-cross-react-opacity: 0.3;
$widgets-tooltip-title: #666666;
$widgets-tooltip-text: #cccccc;
$widgets-tooltip-marker-fill: $widgets-color-background;

// 轴 Axis
$widgets-axis-label-offset: 8;
$widgets-axis-label: #8a8a8a;
$widgets-axis-line: #4d4d4d;
$widgets-axis-grid: rgba(51, 51, 51, 0.5);

// 辅助标记 guide
$widgets-guide-region-opacity: 0.1 !default;

// 图形元素 geom
$widgets-shape-area-opacity: 0.1 !default;
$widgets-shape-interval-opacity: 1 !default;

// 卡片
$widgets-container-background: $widgets-color-background;
$widgets-container-padding: 20px !default;
$widgets-container-mobile-padding: 12px !default;
$widgets-container-corner-radius: 4px !default;
$widgets-container-shadow: none !default;
$widgets-container-title: $widgets-color-text-1;
$widgets-container-split-line: #1c1c1c;

// 地图
$widgets-map-area-bg: #333333;
$widgets-map-area-border: #141414;
$widgets-map-label: #cccccc;

// 圆环
$widgets-circle-stroke-background: rgba(51, 51, 51, 0.5);
$widgets-circle-number: currentColor;
$widgets-circle-stroke-width: 6px !default;
$widgets-circle-outer-background: 'l(90) 0:rgba(51, 51, 51, 0.2) 1:rgba(20, 20, 20, 0.2)';
$widgets-circle-inner-shadow: 0 2px 11px 0 rgba(21, 21, 21, 1);

// 桑基图
$widgets-sankey-edge: #333333;
$widgets-sankey-node-text: $widgets-color-text-1;

// 滚动条颜色
$widgets-scrollbar-bg: #4d4d4d;
$widgets-scrollbar-thumb: #333333;

// 线图粗细
$widgets-line-width: 1.5;

// 数据指标卡
$widgets-numbercard-color-text: #e6e6e6 !default;
$widgets-numbercard-color-red-bg: #522825 !default;
$widgets-numbercard-color-blue-bg: #263c54 !default;
$widgets-numbercard-color-hover: rgba(51, 51, 51, 0.5) !default;
$widgets-numbercard-color-click: #333333 !default;

// 水位
$widgets-capacity-color-grey: #595f6b;
$widgets-capacity-background-default: #18232e !default;
$widgets-capacity-background-success: #0f1f16 !default;
$widgets-capacity-background-warning: #241b12 !default;
$widgets-capacity-background-error: #291614 !default;

// 错误状态色
$widgets-error-svg-color: #a34239 !default;
