@import "./base.scss";

// 背景颜色
$widgets-color-background: #FFFFFF !default;
$widgets-color-layout-background: #F7F7F7 !default;

// 主色和状态色
$widgets-color-blue: #3F90FF !default;
$widgets-color-orange: #FA8C15 !default;
$widgets-color-red: #E62412 !default;
$widgets-color-green: #15AD31 !default;
$widgets-color-gray: #E5E5E5 !default;

// 图形元素色阶
$widgets-color-category-1: $widgets-color-blue !default;
$widgets-color-category-2: #5CCDBB !default;
$widgets-color-category-3: #FACD4F !default;
$widgets-color-category-4: #9979F2 !default;
$widgets-color-category-5: #006CD9 !default;
$widgets-color-category-6: #4AD051 !default;
$widgets-color-category-7: #5C60E6 !default;
$widgets-color-category-8: #CD5C97 !default;
$widgets-color-category-9: #52D7FF !default;
$widgets-color-category-10: #FAB34F !default;
$widgets-color-category-11: #E65C5C !default;
$widgets-color-category-12: #9B5CE6 !default;

$widgets-color-linear-1: $widgets-color-blue !default;
$widgets-color-linear-2: #529BFF !default;
$widgets-color-linear-3: #65A6FF !default;
$widgets-color-linear-4: #78B1FF !default;
$widgets-color-linear-5: #8CBCFF !default;
$widgets-color-linear-6: #9FC7FF !default;
$widgets-color-linear-7: #B2D3FF !default;
$widgets-color-linear-8: #C5DDFF !default;
$widgets-color-linear-9: #D6E7FF !default;
$widgets-color-linear-10: #EBF3FF !default;

// 文字颜色
$widgets-color-text-1: #262626 !default;
$widgets-color-text-2: #595959 !default;
$widgets-color-text-3: #8c8c8c !default;
$widgets-color-disable: #BFBFBF !default;

// 字体
$widgets-font-family-txd-m-number: TXDDINMediumNumber, "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;
$widgets-font-family-txd-r-number: TXDDINRegularNumber, "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;

// 字号
$widgets-font-size-1: 12px !default;
$widgets-font-size-2: 14px !default;
$widgets-font-size-3: 16px !default;
$widgets-font-size-4: 18px !default;
$widgets-font-size-5: 24px !default;
$widgets-font-size-6: 28px !default;
$widgets-font-size-7: 32px !default;

// 图例 Legend
$widgets-legend-uncheck: #BFBFBF !default;
$widgets-legend-text: #262626 !default;

// label
$widgets-label-text: #262626 !default;

// 提示信息 tooltip
$widgets-tooltip-background: $widgets-color-background !default;
$widgets-tooltip-padding: 12px !default;
$widgets-tooltip-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2) !default;
$widgets-tooltip-corner-radius: 4px !default;
$widgets-tooltip-cross-line: #dddddd !default;
$widgets-tooltip-cross-react: #CCD6EC !default;
$widgets-tooltip-cross-react-opacity: 0.3 !default;
$widgets-tooltip-title: #8C8C8C !default;
$widgets-tooltip-text: #262626 !default;
$widgets-tooltip-marker-fill: $widgets-color-background !default;

// 轴 Axis
$widgets-axis-label: #8C8C8C !default;
$widgets-axis-line: #E5E5E5 !default;
$widgets-axis-grid: #F7F7F7 !default;
// CHECK 线粗细 默认 1

// 辅助标记 guide
$widgets-guide-region-opacity: 0.1 !default;

// 图形元素 geom
$widgets-shape-area-opacity: 0.1 !default;
$widgets-shape-interval-opacity: 1 !default;

// 卡片
$widgets-container-background: $widgets-color-background !default;
$widgets-container-padding: 20px !default;
$widgets-container-mobile-padding: 12px !default;
$widgets-container-corner-radius: 4px !default;
$widgets-container-shadow: none !default;
$widgets-container-title: #262626 !default;
$widgets-container-split-line: #E5E5E5 !default;

// 地图
$widgets-map-area-bg: #E5E5E5 !default;
$widgets-map-area-border: $widgets-color-background !default;
$widgets-map-label: #595959 !default;

// 圆环
$widgets-circle-stroke-background: #F7F7F7 !default;
$widgets-circle-number: currentColor !default;
$widgets-circle-stroke-width: 6px !default;

// 桑基图
$widgets-sankey-edge: #E5E5E5 !default;
$widgets-sankey-node-text: #8C8C8C !default;

// 滚动条颜色
$widgets-scrollbar-bg: #EBECF0 !default;
$widgets-scrollbar-thumb: #C4C6CF !default;

// 线图粗细
$widgets-line-width: 2;