@import './base.scss';

// 背景颜色
$widgets-color-background: #ffffff !default;
$widgets-color-layout-background: #f7f7f7 !default;
$widgets-color-container-background: #f7f7f7 !default;
$widgets-color-decoration-background: #ffffff !default;

// 主色和状态色
$widgets-color-blue: #297acc !default;
$widgets-color-normal: #0064c8 !default;
$widgets-color-orange: #f98e1a !default;
$widgets-color-red: #e84738 !default;
$widgets-color-green: #23b066 !default;
$widgets-color-gray: #aaaaaa !default;
$widgets-color-purple: #6b67e0 !default;
$widgets-color-yellow: #fac31e !default;

// 各状态色对应的背景色
$widgets-color-bg-normal: rgba(202, 227, 253, 0.5) !default;
$widgets-color-bg-orange: rgba(255, 224, 191, 0.5) !default;
$widgets-color-bg-red: rgba(252, 206, 202, 0.5) !default;
$widgets-color-bg-green: rgba(209, 244, 225, 0.5) !default;
$widgets-color-bg-purple: rgba(215, 215, 252, 0.5) !default;
$widgets-color-bg-yellow: rgba(255, 242, 204, 0.5) !default;

// 图形元素色阶
$widgets-color-category-1: $widgets-color-blue !default;
$widgets-color-category-2: #43bf7e !default;
$widgets-color-category-3: #8a87f5 !default;
$widgets-color-category-4: #f7a854 !default;
$widgets-color-category-5: #e8d36b !default;
$widgets-color-category-6: #d48fff !default;
$widgets-color-category-7: #85ba2f !default;
$widgets-color-category-8: #57ccd9 !default;
$widgets-color-category-9: #49add1 !default;
$widgets-color-category-10: #d95777 !default;
$widgets-color-category-11: #ffe7a1 !default;
$widgets-color-category-12: #a4acbd !default;
$widgets-color-category-13: #457000 !default;
$widgets-color-category-14: #5aabf2 !default;
$widgets-color-category-15: #db5b00 !default;
$widgets-color-category-16: #007fad !default;
$widgets-color-category-17: #e68aa1 !default;
$widgets-color-category-18: #61baae !default;
$widgets-color-category-19: #bd44c2 !default;
$widgets-color-category-20: #a6a3f7 !default;

$widgets-color-linear-1: $widgets-color-blue !default;
$widgets-color-linear-2: #3b85d1 !default;
$widgets-color-linear-3: #4d91d6 !default;
$widgets-color-linear-4: #609edb !default;
$widgets-color-linear-5: #75aae0 !default;
$widgets-color-linear-6: #8ab7e6 !default;
$widgets-color-linear-7: #a0c5eb !default;
$widgets-color-linear-8: #b6d3f0 !default;
$widgets-color-linear-9: #cee1f5 !default;
$widgets-color-linear-10: #e6f0fa !default;

// 告警等级色
$widgets-color-p1: #bf0030 !default;
$widgets-color-p2: #e84738 !default;
$widgets-color-p3: #f98e1a !default;
$widgets-color-p4: #fac31e !default;
$widgets-color-p5: #d1bb4f !default;
$widgets-color-p6: #00bacf !default;
$widgets-color-p7: #1289b8 !default;

// 各告警色对应的背景色
$widgets-color-bg-p1: rgba(242, 194, 206, 0.5) !default;
$widgets-color-bg-p2: rgba(252, 206, 202, 0.5) !default;
$widgets-color-bg-p3: rgba(255, 224, 191, 0.5) !default;
$widgets-color-bg-p4: rgba(255, 242, 204, 0.5) !default;
$widgets-color-bg-p5: rgba(255, 245, 196, 0.5) !default;
$widgets-color-bg-p6: rgba(174, 226, 235, 0.5) !default;
$widgets-color-bg-p7: rgba(175, 222, 240, 0.5) !default;

// 文字颜色
$widgets-color-text-1: #333333 !default;
$widgets-color-text-2: #696969 !default;
$widgets-color-text-3: #808080 !default;
$widgets-color-disable: #aaaaaa !default;

// 字体
$widgets-font-family-txd-m-number: TXDDINMediumNumber, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft YaHei',
  Arial, sans-serif !default;
$widgets-font-family-txd-r-number: TXDDINRegularNumber, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft YaHei',
  Arial, sans-serif !default;

// 字号
$widgets-font-size-1: 12px !default;
$widgets-font-size-2: 14px !default;
$widgets-font-size-3: 16px !default;
$widgets-font-size-4: 18px !default;
$widgets-font-size-5: 24px !default;
$widgets-font-size-6: 28px !default;
$widgets-font-size-7: 32px !default;

// 图例 Legend
$widgets-legend-uncheck: #aaaaaa !default;
$widgets-legend-text: #333333 !default;

// label
$widgets-label-text: #333333 !default;

// 提示信息 tooltip
$widgets-tooltip-background: $widgets-color-background !default;
$widgets-tooltip-padding: 12px !default;
$widgets-tooltip-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18) !default;
$widgets-tooltip-corner-radius: 4px !default;
$widgets-tooltip-cross-line: #d9d9d9 !default;
$widgets-tooltip-cross-react: #d9d9d9 !default;
$widgets-tooltip-cross-react-opacity: 0.5 !default;
$widgets-tooltip-title: #808080 !default;
$widgets-tooltip-text: #333333 !default;
$widgets-tooltip-marker-fill: $widgets-color-background !default;

// 轴 Axis
$widgets-axis-label: #808080 !default;
$widgets-axis-line: #cccccc !default;
$widgets-axis-grid: rgba(229, 229, 229, 0.5) !default;
// CHECK 线粗细 默认 1

// 辅助标记 guide
$widgets-guide-region-opacity: 0.1 !default;

// 图形元素 geom
$widgets-shape-area-opacity: 0.1 !default;
$widgets-shape-interval-opacity: 1 !default;

// 卡片
$widgets-container-background: $widgets-color-background !default;
$widgets-container-padding: 20px !default;
$widgets-container-mobile-padding: 12px !default;
$widgets-container-corner-radius: 4px !default;
$widgets-container-shadow: none !default;
$widgets-container-title: #262626 !default;
$widgets-container-split-line: #e5e5e5 !default;

// 地图
$widgets-map-area-bg: #e5e5e5 !default;
$widgets-map-area-border: $widgets-color-background !default;
$widgets-map-label: #333333 !default;

// 圆环
$widgets-circle-stroke-background: rgba(229, 229, 229, 0.5) !default;
$widgets-circle-number: currentColor !default;
$widgets-circle-stroke-width: 6px !default;
$widgets-circle-outer-background: 'l(90) 0:#F7F7F7 1:#F7F7F700' !default;
$widgets-circle-inner-shadow: 0 4px 20px 0 rgba(204, 204, 204, 0.5) !default;

// 桑基图
$widgets-sankey-edge: #e5e5e5 !default;
$widgets-sankey-node-text: $widgets-color-text-1 !default;

// 滚动条颜色
$widgets-scrollbar-bg: #ebecf0 !default;
$widgets-scrollbar-thumb: #c4c6cf !default;

// 线图粗细
$widgets-line-width: 2;

// 数据指标卡
$widgets-numbercard-color-text: #1a1a1a !default;
$widgets-numbercard-color-red-bg: #fcceca !default;
$widgets-numbercard-color-blue-bg: #cae3fd !default;
$widgets-numbercard-color-hover: rgba(229, 229, 229, 0.5) !default;
$widgets-numbercard-color-click: #f0f7ff !default;

// 水位
$widgets-capacity-color-grey: #818a9c !default;
$widgets-capacity-background-default: #f0f7ff !default;
$widgets-capacity-background-success: #ebfff6 !default;
$widgets-capacity-background-warning: #fff5eb !default;
$widgets-capacity-background-error: #ffeceb !default;
