.siderbar {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  padding-right: 20px;
  background-clip: content-box;
  border-radius:4px;
  h4 {
    font-size: 14px;
    color: #666;
    display: none;
  }
  .next-menu-submenu-title {
    margin-left: 12px;
    font-size: 12px;
  }

  .next-menu-group-title {
    padding: 0 15px;
    line-height: 40px;
    font-size: 12px;
    position: relative;
  }
  .next-menu-group{
    margin-bottom:20px;
  }

  .next-menu-item a {
    color: #666;
    font-size: 14px;
  }

  .next-menu-item {
    border-left: 2px solid transparent;
  }

  .next-menu-item:hover {
    border-left: 2px solid #2889EC;
  }

  .menu.next-menu {
    border: 0px;
    box-shadow: 0px 0px 0px;
    padding-top: 20px;
  }

  .next-menu-item a span {
    font-size: 12px;
    color: #999;
    &.chinese {
      color: #666;
      font-size: 14px;
      margin-right: 10px;
    }
  }

  .next-menu.menu .next-icon {
    display: none;
  }

  .next-menu.menu .next-menu-item {
    padding: 0px 25px !important;
    line-height: 40px;
    border-left: 2px solid transparent;
    &.selected {
      a{
        color:#2889EC!important;
        span{
          color:#2889EC!important;
        }
      }
      .chinese {
        margin-right: 10px;
      }
    }
  }

  .next-menu .next-menu-submenu-item .next-menu .selected .next-icon-select {
    display: none;
  }
}

.select{
    display: none;
  }


@media (max-width: 768px) {
  .siderbar{
    .next-menu.menu .next-menu-item {
      display: inline-block!important;
      width:50%!important;
      border-left:1px solid #DCDEE3;
    }
  }
  div.main-container {
    padding-bottom: 0px!important;
  }
  .page-wrapper{
      background: #fff;
    }

    .select{
      display: block;
      width: 100%;
      text-align: center;
      background: #FFF;
      background: #f7f8fa;
      padding: 10px;
      i{
        color:#999;
      }
    }
  
}
