.siderbar {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  position: relative;
  border-right: 1px solid #ddd;
  background: #fff;
  padding-right: 20px;
  background-clip: content-box;
  h4 {
    font-size: 14px;
    color: #666;
  }
  .next-menu-submenu-title{
    margin-left: 12px;
  }
}

.next-menu-group-title {
  padding: 0 20px;
}

.next-menu-item a {
  color: rgba(0, 0, 0, 0.43);
  font-size: 13px;
}

.next-menu-item:hover {
  border-left: 2px solid #2889EC;
}

.menu.next-menu {
  border: 0px;
  box-shadow: 0px 0px 0px;
  padding-top: 0px;
}

.themeSelect {
  padding: 10px;
  border-bottom: 1px solid #f9f9f9;
  text-align: center;
  span.themeText {
    position: relative;
    top: -5px;
    right: 10px;
  }
}

.next-menu-item a .chinese {
  color: #666;
}

.next-menu.menu .next-icon {
  display: none;
}

.next-menu.menu .next-menu-item {
  padding: 0px 18px !important;
  margin: 5px 0;
  border-left: 2px solid transparent;
  &.selected {
    border-left: 2px solid #2889EC;
    .chinese {
      margin-right: 10px;
    }
  }
}

.next-menu .next-menu-submenu-item .next-menu .selected .next-icon-select {
  display: none;
}