@import "../../theme/normal";
@mixin wnumber-font {
  font-family: $font-family-number;
  font-size: $font-size-large-number;
  line-height: 1;
  color: $color-n2-4;
}

@mixin subTitle-font {
  font-family: $font-family-number;
  color: $color-n2-3;
}
