@import "../../theme/index";
@mixin wnumber-font {
  font-family: $font-family-number;
  font-size: $font-size-large-number;
  line-height: 1;
  color: $widgets-color-text-1;
}

@mixin subTitle-font {
  font-family: $font-family-number;
  color: $widgets-color-text-2;
}
