@mixin wnumber-font {
  font-family: 'Din Alternate';
  font-weight: 'medium';
  font-size: 28px;
  line-height: 1;
  color: $color-text1-4;
}

@mixin subTitle-font {
  font-family: "Microsoft YaHei";
  color: $color-text1-3;
}
