@import "../../themes/index";
$wnumber-prefix: '.#{$base-prefix}-wnumber';

$font-family: getVar(widgets-font-family-txd-m-number, $widgets-font-family-txd-m-number);
$font-size-l: getVar(widgets-font-size-6, $widgets-font-size-6);
$font-size-m: getVar(widgets-font-size-3, $widgets-font-size-3);
$font-size-s: getVar(widgets-font-size-1, $widgets-font-size-1);
$color-1: getVar(widgets-color-text-1, $widgets-color-text-1);
$color-2: getVar(widgets-color-text-2, $widgets-color-text-2);

$blue: getVar(widgets-color-blue, $widgets-color-blue);
$normal: getVar(widgets-color-normal, $widgets-color-normal);
$green: getVar(widgets-color-green, $widgets-color-green);
$orange: getVar(widgets-color-orange, $widgets-color-orange);
$red: getVar(widgets-color-red, $widgets-color-red);

$size-half: $s1 * 0.5;
$size-1: getVar(s1, $s1);
$size-2: getVar(s2, $s2);
