@import "~@alife/aisc-core/aliyun-dark/scss/index.scss";

$widgets-font-family-number: DINMediumNumber, "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;
$widgets-font-family-txd-m-number: TXDDINMediumNumber, "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;
$widgets-font-family-txd-r-number: TXDDINRegularNumber, "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;

// 字体大小 - 文字
$widgets-font-size-1: 12px !default;
$widgets-font-size-2: 14px !default;
$widgets-font-size-3: 16px !default;
$widgets-font-size-4: 18px !default;
$widgets-font-size-5: 24px !default;
$widgets-font-size-6: 28px !default;
$widgets-font-size-7: 32px !default;

// 纯颜色
$widgets-color-white: #292F36;
$widgets-color-black: #E0E1E8;

$widgets-color-text-1: #ECEEF2;
$widgets-color-text-2: #AAAFBB;
$widgets-color-text-3: #7A808B;
$widgets-color-disable: #4C525D;

$widgets-color-blue: #248ADD;
$widgets-color-yellow: #E6C627;
$widgets-color-orange: #FF9A19;
$widgets-color-red: #FF666B;
$widgets-color-purple: #7281FF;
$widgets-color-green: #3FC553;
$widgets-color-gray: #4C525D;

$widgets-color-category-1: $widgets-color-blue;
$widgets-color-category-2: #38D4A8;
$widgets-color-category-3: #FAB34F;
$widgets-color-category-4: #7589AD;
$widgets-color-category-5: #9B86FF;
$widgets-color-category-6: #FF7D51;
$widgets-color-category-7: #33A4EA;
$widgets-color-category-8: #4AD051;
$widgets-color-category-9: #945FB9;
$widgets-color-category-10: #2E85FF;
$widgets-color-category-11: #E65C5C;
$widgets-color-category-12: #FF9845;

$widgets-color-linear-1: $widgets-color-blue;
$widgets-color-linear-2: #1E80D0;
$widgets-color-linear-3: #1976C3;
$widgets-color-linear-4: #146DB6;
$widgets-color-linear-5: #0F64A8;
$widgets-color-linear-6: #0B5B9B;
$widgets-color-linear-7: #08528E;
$widgets-color-linear-8: #054C87;
$widgets-color-linear-9: #024780;
$widgets-color-linear-10: #003F73;

$widgets-color-linear-turquoise-1: #5CCDBB;
$widgets-color-linear-turquoise-2: #56BDAE;
$widgets-color-linear-turquoise-3: #51ADA2;
$widgets-color-linear-turquoise-4: #4C9D94;
$widgets-color-linear-turquoise-5: #478D88;
$widgets-color-linear-turquoise-6: #427D7B;
$widgets-color-linear-turquoise-7: #3E6D6F;
$widgets-color-linear-turquoise-8: #385D61;
$widgets-color-linear-turquoise-9: #334D55;
$widgets-color-linear-turquoise-10: #2E3D48;

// 图例 Legend
$widgets-legend-uncheck: #363E47;
$widgets-legend-text: #AAAFBB;

// label
$widgets-label-text: #F0F0F0;

// 提示信息 tooltip
$widgets-tooltip-background: #3A3F49;
$widgets-tooltip-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$widgets-tooltip-cross-line: #4C525D;
$widgets-tooltip-cross-react: #4C525D;
$widgets-tooltip-cross-react-opacity: 0.3;
$widgets-tooltip-title: #AAAFBB;
$widgets-tooltip-text: #ECEEF2;
$widgets-tooltip-marker-fill: #292F36;
$widgets-tooltip-border: #D8D8D8;

// 轴 Axis
$widgets-axis-label: #7A808B;
$widgets-axis-line: #4C525D;
$widgets-axis-grid: #3A3F49;

// 图形元素 geom
$widgets-shape-area-opacity: 0.1 !default;
$widgets-shape-interval-opacity: 0.9;
$widgets-guide-region-opacity: 0.1 !default;

// 业务颜色
$widgets-mini-card-empty: #444D57;
$widgets-circle-number: #F7F8F2;

// 地图特有
$widgets-map-area-bg: #3A3F49;
$widgets-map-area-border: #282C33;
$widgets-map-label: #BCC5CC;

// 卡片
$widgets-container-background: #282C33;
$widgets-container-title: #F7F8F2;
$widgets-container-split-line: #444D57;

// 桑基图
$widgets-sankey-edge: #444D57;
$widgets-sankey-node-text: #969EA8;

// 表格颜色
$widgets-table-header: #2E3142;
$widgets-table-body-zebra: #313342;
$widgets-table-split: #32364D;

// 滚动条颜色
$widgets-scrollbar-bg: #3F474F;
$widgets-scrollbar-thumb: #4E5966;
