@import '../../../themes/index.scss';

$prefix: '.#{$base-prefix}-free-tooltip-';

$scrollbar-thumb-color: getVar(widgets-axis-line, $widgets-axis-line);
$scrollbar-bg-color: getVar(widgets-color-decoration-background, $widgets-color-decoration-background);

#{$prefix}container {
  background: getVar(widgets-tooltip-background, $widgets-tooltip-background);
  border-radius: getVar(widgets-tooltip-corner-radius, $widgets-tooltip-corner-radius);
  box-shadow: getVar(widgets-tooltip-shadow, $widgets-tooltip-shadow);
  padding: getVar(widgets-tooltip-padding, $widgets-tooltip-padding);
  font-family: getVar(widgets-font-family-txd-m-number, $widgets-font-family-txd-m-number);
  font-size: getVar(widgets-font-size-1, $widgets-font-size-1);
  color: getVar(widgets-tooltip-text, $widgets-tooltip-text);
  max-width: 25vw;
  max-height: 50vh;
  overflow-y: auto;

  #{$prefix}title {
    color: getVar(widgets-tooltip-title, $widgets-tooltip-title);
  }

  #{$prefix}items-container {
    display: flex;
    flex-direction: column;
  }

  #{$prefix}item {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #{$prefix}name-container {
    display: flex;
    align-items: center;
  }

  #{$prefix}marker {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-right: 4px;
  }

  #{$prefix}name {
    max-width: calc(25vw - 86px);
    text-wrap: pretty;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 8px;
    word-wrap: break-word;
  }
}

/*滚动条整体样式*/
#{$prefix}container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/*滚动条里面小方块*/
#{$prefix}container::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: $scrollbar-thumb-color;
}

/*滚动条里面轨道*/
#{$prefix}container::-webkit-scrollbar-track {
  background: $scrollbar-bg-color;
}
