@import "../themes/index";

.#{$base-name}.G2Map {
  position: relative;
  // 使缩放后的地图居中
  display: flex;
  justify-content: center;
  align-items: center;

  .#{$base-name}-map-south-china-sea {
    position: absolute;
    right: 0;
    bottom: 0;
    // 2018-09-17 设置 max-width 让南海诸岛能根据图表大小缩放
    // 2020-04-09 等比例缩放，并限制最小高宽
    min-width: 64px;
    min-height: 88px;
  }

  //.#{$base-name}-map-legend {
  //  position: absolute;
  //  left: 0;
  //  bottom: 0;
  //
  //  z-index: 1;
  //
  //  .g2-legend:last-child .g2-legend-list-item:last-child {
  //    margin-bottom: 0 !important;
  //  }
  //}

  .#{$base-name}-map-custom-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }
  .#{$base-name}-map-custom-point {
    position: absolute;
    // 将元素中心位置对齐到坐标点
    transform: translate(-50%, -50%);
    pointer-events: auto;
  }

  .#{$base-name}-map-shoot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
  }

  // 已在最外层css设置，这里去掉
  //// fix 在开发项目中被 display: inline-block 导致canvas上移两个像素的问题
  //canvas {
  //  display: block;
  //}

  .g2-tooltip-list > li:first-child {
    margin-top: 0 !important;
  }

  //.g2-legend-list-item:last-child {
  //  margin-right: 0 !important;
  //}
}
