* {
  margin: 0;
  padding: 0; }

body {
  padding: 20px; }

.p2chartTest {
  color: red; }

.p2-chart-demo {
  padding: 20px;
  background-color: #f8f8f8;
  color: #333; }

.hljs {
  padding: 20px; }
.p2-row {
  margin: 20px 0; }

.p2-col {
  padding: 0 10px; }
.p2-pannel {
  background: #fff;
  padding: 20px 15px;
  height: 100%; }
  .p2-pannel h4 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 0 5px 15px;
    border-bottom: 1px solid #DCDEE3;
    line-height: 25px; }
    .p2-pannel h4 .p2-pannel-titlesub {
      float: right;
      height: 35px; }
  .p2-pannel .p2-pannel-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .p2-pannel .p2-pannel-container .p2-pannel-item {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding: 0 5px; }
.capacity-index h5 {
  font-size: 14px;
  font-weight: bold;
  text-align: center; }

.capacity-index .capacity-index-ratio {
  text-align: center;
  position: relative; }
  .capacity-index .capacity-index-ratio .capacity-index-ratio-svg {
    width: 106px;
    height: 106px;
    display: inline-block;
    vertical-align: top; }
  .capacity-index .capacity-index-ratio .state-index-count-num {
    width: 100%;
    position: absolute;
    top: 28px;
    left: 0;
    text-align: center; }
    .capacity-index .capacity-index-ratio .state-index-count-num span {
      font-size: 24px;
      font-family: "Helvetica Nene", "Helvetica"; }
    .capacity-index .capacity-index-ratio .state-index-count-num p {
      font-size: 12px;
      margin: 0;
      line-height: 1; }

.capacity-index .capacity-index-sub {
  margin-top: 5px; }
  .capacity-index .capacity-index-sub .capacity-index-sub-item {
    text-align: center; }
    .capacity-index .capacity-index-sub .capacity-index-sub-item b {
      font-size: 14px;
      font-weight: normal;
      width: 50%;
      display: inline-block;
      text-align: right;
      padding: 5px; }
    .capacity-index .capacity-index-sub .capacity-index-sub-item span {
      font-size: 16px;
      width: 50%;
      display: inline-block;
      text-align: left;
      padding: 4px; }

.capacity-index .capacity-index-svg .capacity-index-svg-bg {
  stroke-width: 6;
  stroke: rgba(0, 178, 254, 0.2);
  fill: none; }

.capacity-index .capacity-index-svg .capacity-index-svg-ring {
  stroke-width: 6;
  stroke: #0580F2;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
  -webkit-transition-property: stroke-dasharray, stroke;
  transition-property: stroke-dasharray, stroke;
  -webkit-transition-duration: 0.8s, 0.8s;
          transition-duration: 0.8s, 0.8s; }

.capacity-index .capacity-index-warn .capacity-index-svg-bg {
  stroke: rgba(239, 83, 80, 0.2); }

.capacity-index .capacity-index-warn .capacity-index-svg-ring {
  stroke: #ef5350; }
.state-index h5 {
  font-size: 14px;
  font-weight: bold;
  text-align: center; }

.state-index .state-index-count {
  margin-top: 28px;
  margin-bottom: 22px; }
  .state-index .state-index-count .state-index-count-num {
    text-align: center; }
    .state-index .state-index-count .state-index-count-num span {
      font-size: 24px;
      font-family: "Helvetica Nene", "Helvetica"; }
    .state-index .state-index-count .state-index-count-num b {
      font-weight: normal;
      font-size: 14px; }
  .state-index .state-index-count .state-index-count-sub {
    text-align: center;
    font-size: 14px;
    line-height: 24px; }

.state-index .state-index-sub .state-index-sub-item {
  margin-bottom: 7px;
  text-align: center; }
  .state-index .state-index-sub .state-index-sub-item .state-index-sub-item-box {
    display: inline-block;
    width: 75%;
    max-width: 160px;
    height: 30px;
    border: 1px solid #0580F2;
    border-radius: 4px;
    padding: 0 10px; }
    .state-index .state-index-sub .state-index-sub-item .state-index-sub-item-box b {
      font-size: 12px;
      font-weight: normal;
      color: #0580F2;
      line-height: 28px;
      float: left; }
    .state-index .state-index-sub .state-index-sub-item .state-index-sub-item-box span {
      font-size: 16px;
      color: #0580F2;
      line-height: 28px;
      float: right; }

.state-index .state-index-sub .state-index-sub-warn > .state-index-sub-item-box {
  border: 1px solid #EF5350; }
  .state-index .state-index-sub .state-index-sub-warn > .state-index-sub-item-box b, .state-index .state-index-sub .state-index-sub-warn > .state-index-sub-item-box span {
    color: #EF5350; }
.rank-list h5 {
  background-color: #EBECF0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
  height: 44px;
  line-height: 42px; }

.rank-list .rank-list-ol .rank-list-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 7px; }
  .rank-list .rank-list-ol .rank-list-li .rank-list-li-col {
    padding: 15px 7px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 12px;
    line-height: 18px; }
    .rank-list .rank-list-ol .rank-list-li .rank-list-li-col a, .rank-list .rank-list-ol .rank-list-li .rank-list-li-col span {
      font-size: 12px; }
    .rank-list .rank-list-ol .rank-list-li .rank-list-li-col .rank-list-li-bigger {
      font-family: "Helvetica Nene", "Helvetica";
      font-weight: bold;
      font-size: 14px;
      color: #0580F2; }
  .rank-list .rank-list-ol .rank-list-li:nth-child(2n) {
    background-color: #f7f8fa; }
  .rank-list .rank-list-ol .rank-list-li .rank-list-li-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(left, #ffffff, #0580F2);
    background-image: linear-gradient(to right, #ffffff, #0580F2);
    height: 2px; }
.top-list {
  line-height: 44px; }
  .top-list .top-list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    background: #edf3fe; }
  .top-list .top-list-title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 12px;
    text-align: center; }
  .top-list .top-list-tab-key {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding: 0 8px;
    border-bottom: 2px solid transparent;
    cursor: pointer; }
    .top-list .top-list-tab-key:hover {
      color: #0580f2; }
    .top-list .top-list-tab-key.active {
      color: #0580f2;
      border-bottom-color: #0580f2; }
  .top-list .top-list-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .top-list .top-list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 4px; }
    .top-list .top-list-group:first-child {
      padding-left: 0; }
    .top-list .top-list-group:last-child {
      padding-right: 0; }
  .top-list .top-list-column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .top-list .top-list-column:first-child .top-list-column-title, .top-list .top-list-column:first-child .top-list-column-cell {
      padding-left: 12px; }
    .top-list .top-list-column:last-child .top-list-column-title, .top-list .top-list-column:last-child .top-list-column-cell {
      padding-right: 12px; }
  .top-list .top-list-fix-width {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
  .top-list .top-list-column-sort {
    font-size: 14px;
    font-weight: bold; }
  .top-list .top-list-align-left {
    text-align: left; }
  .top-list .top-list-align-center {
    text-align: center; }
  .top-list .top-list-align-right {
    text-align: right; }
  .top-list .top-list-column-title {
    height: 44px;
    padding: 0 6px;
    font-size: 14px;
    font-weight: bold; }
  .top-list .top-list-column-cell {
    height: 44px;
    padding: 0 6px;
    color: #0580f2; }
    .top-list .top-list-column-cell:nth-child(even) {
      background: #f6f8fc; }
  .top-list .top-list-column-cell-color {
    color: #ef5350; }
.table-list {
  width: 100%;
  table-layout: fixed; }
  .table-list thead th {
    background-color: #EBECF0;
    font-weight: bold;
    font-size: 12px;
    padding: 15px 10px;
    text-align: left; }
  .table-list tbody tr td {
    font-size: 12px;
    padding: 15px 10px; }
    .table-list tbody tr td a, .table-list tbody tr td span {
      font-size: 12px; }
      .table-list tbody tr td a.table-list-warn, .table-list tbody tr td span.table-list-warn {
        color: #E93A3A; }
  .table-list tbody tr:nth-child(2n) {
    background-color: #f7f8fa; }
  .table-list .table-list-num {
    text-align: right; }
.rect-link {
  height: 94px;
  min-width: 94px;
  width: 100%;
  position: relative;
  cursor: pointer;
  padding: 20px;
  background-color: #FFFFFF; }
  .rect-link .rect-link-left {
    position: absolute;
    left: 20px;
    width: 54px;
    height: 54px;
    background-color: #0580F2;
    border-radius: 54px; }
    .rect-link .rect-link-left .rect-link-icon {
      color: #FFFFFF;
      text-align: center;
      height: 54px;
      line-height: 54px; }
  .rect-link .rect-link-right {
    width: 100%;
    padding-left: 74px;
    font-size: 14px;
    margin: 6px 0 8px 0; }
    .rect-link .rect-link-right .rect-link-title {
      color: #333333; }
    .rect-link .rect-link-right .rect-link-sub-title {
      color: #999999; }
    .rect-link .rect-link-right .overflow-ellipsis {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
.healthy-status {
  width: 100%;
  text-align: center;
  color: #333333; }
  .healthy-status .weight {
    font-weight: bold; }
  .healthy-status .ma {
    margin: auto; }
  .healthy-status .ml12 {
    margin-left: 12px; }
  .healthy-status .healthy-status-title {
    padding-top: 11px;
    margin: auto;
    font-size: 24px; }
  .healthy-status .healthy-status-sub-title {
    margin-top: 8px;
    font-size: 20px; }
    .healthy-status .healthy-status-sub-title .healthy-status-sub-title-data {
      font-size: 24px; }
  .healthy-status .healthy-status-title-data {
    color: #EF5350;
    cursor: pointer; }
  .healthy-status .healthy {
    color: #0580F2; }
  .healthy-status .healthy-status-details {
    margin-top: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .healthy-status .healthy-status-details .healthy-status-details-detail {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      border-left: 1px solid #D8D8D8;
      text-align: left;
      padding: 0 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
      .healthy-status .healthy-status-details .healthy-status-details-detail:first-child {
        border-left: 0;
        padding-left: 0; }
      .healthy-status .healthy-status-details .healthy-status-details-detail:last-child {
        padding-right: 0px; }
      .healthy-status .healthy-status-details .healthy-status-details-detail .healthy-status-details-detail-data {
        font-size: 20px;
        color: #0580F2; }
      .healthy-status .healthy-status-details .healthy-status-details-detail .over-threshold {
        color: #EF5350; }
      .healthy-status .healthy-status-details .healthy-status-details-detail .healthy-status-details-detail-text {
        font-size: 14px; }
.usage-rate-ring {
  width: 100%;
  text-align: center;
  color: #333333;
  overflow: hidden; }
  .usage-rate-ring .usage-rate-ring-title {
    margin: auto;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    position: relative;
    height: 80px; }
    .usage-rate-ring .usage-rate-ring-title .usage-rate-ring-ratio-svg {
      width: 80px;
      height: 80px;
      display: inline-block;
      position: relative; }
      .usage-rate-ring .usage-rate-ring-title .usage-rate-ring-ratio-svg .usage-rate-ring-count-num {
        width: 100%;
        position: absolute;
        top: 19px;
        left: 0;
        text-align: center; }
        .usage-rate-ring .usage-rate-ring-title .usage-rate-ring-ratio-svg .usage-rate-ring-count-num span {
          font-size: 20px;
          font-family: "Helvetica Nene", "Helvetica"; }
        .usage-rate-ring .usage-rate-ring-title .usage-rate-ring-ratio-svg .usage-rate-ring-count-num p {
          font-size: 12px;
          margin: 0;
          line-height: 1; }
    .usage-rate-ring .usage-rate-ring-title .usage-rate-ring-divi {
      display: inline-block;
      margin-left: 20px;
      padding-top: 20px;
      vertical-align: top; }
      .usage-rate-ring .usage-rate-ring-title .usage-rate-ring-divi .usage-rate-ring-divi-text {
        margin-top: 4px; }
  .usage-rate-ring .usage-rate-ring-divi-data {
    font-size: 20px;
    color: #0580F2; }
  .usage-rate-ring .usage-rate-ring-details {
    margin-top: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .usage-rate-ring .usage-rate-ring-details .usage-rate-ring-details-detail {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      border-left: 1px solid #D8D8D8;
      text-align: left;
      padding: 0 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
      .usage-rate-ring .usage-rate-ring-details .usage-rate-ring-details-detail:first-child {
        border-left: 0;
        padding-left: 0; }
      .usage-rate-ring .usage-rate-ring-details .usage-rate-ring-details-detail:last-child {
        padding-right: 0px; }
      .usage-rate-ring .usage-rate-ring-details .usage-rate-ring-details-detail .usage-rate-ring-details-detail-data {
        font-size: 20px;
        color: #0580F2; }
      .usage-rate-ring .usage-rate-ring-details .usage-rate-ring-details-detail .over-threshold {
        color: #EF5350; }
      .usage-rate-ring .usage-rate-ring-details .usage-rate-ring-details-detail .usage-rate-ring-details-detail-text {
        font-size: 14px; }
  .usage-rate-ring .usage-rate-ring-svg .usage-rate-ring-svg-bg {
    stroke-width: 4;
    stroke: rgba(0, 178, 254, 0.2);
    fill: none; }
  .usage-rate-ring .usage-rate-ring-svg .usage-rate-ring-svg-ring {
    stroke-width: 4;
    stroke: #0580F2;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
    -webkit-transition-property: stroke-dasharray, stroke;
    transition-property: stroke-dasharray, stroke;
    -webkit-transition-duration: 0.8s, 0.8s;
            transition-duration: 0.8s, 0.8s; }
  .usage-rate-ring .usage-rate-ring-orange .usage-rate-ring-svg-bg {
    stroke: rgba(250, 167, 50, 0.2); }
  .usage-rate-ring .usage-rate-ring-orange .usage-rate-ring-svg-ring {
    stroke: #faa732; }
  .usage-rate-ring .usage-rate-ring-orange .usage-rate-ring-divi-data {
    color: #faa732; }
  .usage-rate-ring .usage-rate-ring-red .usage-rate-ring-svg-bg {
    stroke: rgba(239, 83, 80, 0.2); }
  .usage-rate-ring .usage-rate-ring-red .usage-rate-ring-svg-ring {
    stroke: #ef5350; }
  .usage-rate-ring .usage-rate-ring-red .usage-rate-ring-divi-data {
    color: #ef5350; }
.load-progress {
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 12px;
  margin-top: 22px; }
  .load-progress .load-progress-title {
    padding-top: 11px;
    margin: auto;
    font-size: 24px; }
  .load-progress .load-progress-title-data {
    color: #0580F2;
    /*    cursor: pointer;*/
    margin-left: 12px; }
  .load-progress .load-progress-details {
    margin-top: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .load-progress .load-progress-details .load-progress-details-detail {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      border-left: 1px solid #D8D8D8;
      text-align: left;
      padding: 0 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      position: relative; }
      .load-progress .load-progress-details .load-progress-details-detail:first-child {
        border-left: 0;
        padding-left: 0; }
      .load-progress .load-progress-details .load-progress-details-detail:last-child {
        padding-right: 0px; }
        .load-progress .load-progress-details .load-progress-details-detail:last-child .load-progress-details-detail-data {
          right: 1px; }
      .load-progress .load-progress-details .load-progress-details-detail .load-progress-details-detail-data {
        font-size: 20px;
        color: #0580F2; }
      .load-progress .load-progress-details .load-progress-details-detail .over-threshold-orange {
        color: #faa732; }
      .load-progress .load-progress-details .load-progress-details-detail .over-threshold-red {
        color: #EF5350; }
    .load-progress .load-progress-details .load-progress-details-detail-left {
      padding-right: 60px;
      height: 45px; }
      .load-progress .load-progress-details .load-progress-details-detail-left .load-progress-details-detail-pro-bg {
        height: 6px;
        width: 100%;
        background-color: #F2F3F7;
        border-radius: 3px;
        margin-top: 4px; }
        .load-progress .load-progress-details .load-progress-details-detail-left .load-progress-details-detail-pro-bg .load-progress-details-detail-pro {
          height: 6px;
          border-radius: 3px;
          background-color: #0580F2; }
        .load-progress .load-progress-details .load-progress-details-detail-left .load-progress-details-detail-pro-bg .over-threshold-orange {
          background-color: #faa732; }
        .load-progress .load-progress-details .load-progress-details-detail-left .load-progress-details-detail-pro-bg .over-threshold-red {
          background-color: #EF5350; }
    .load-progress .load-progress-details .load-progress-details-detail-data {
      position: absolute;
      right: 21px;
      top: 1px; }
