@import "~@alife/aisc-core/scss/aisc.scss";
@import "./scss/mixin.scss";
@import "./scss/variable.scss";

#{$wnumber-prefix} {
  @include wnumber-font;

  #{$wnumber-prefix}-main {
    #{$wnumber-prefix}-unit {
      margin-left: $s1;
      font-size: 12px;
    }

    #{$wnumber-prefix}-trend {
      margin-left: $s2;
    }
  }
  #{$wnumber-prefix}-bottomTitle {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: #666;
    &.bottom {
      margin-top: $s1;
    }
  }
}
