@import "~@alife/aisc-core/scss/aisc.scss";
@import "./scss/mixin.scss";
@import "./scss/variable.scss";

#{$wnumber-prefix} {
  @include wnumber-font;

  #{$wnumber-prefix}-main {
    position: relative;
    &.drop {
      color: $color-error-3;
      padding-left: $s2;
    }
    &.raise {
      color: $color-f6-1;
      padding-left: $s2;
    }

    #{$wnumber-prefix}-leftIcon, #{$wnumber-prefix}-rightRatioIcon {
      position:relative;
      >.drop {
        color: $color-error-3;
      }
      >.raise {
        color: $color-f6-1;
      }
    }
    #{$wnumber-prefix}-unit {
      margin-left: $s1;
      font-size: 12px;
    }

    #{$wnumber-prefix}-rightTitle {
      @include subTitle-font;
      margin-left: $s1;
      font-size: 14px;
    }

    #{$wnumber-prefix}-rightRatio {
      @include subTitle-font;
      position: absolute;
      right: 0;
      top: 12px;
      font-size: 16px;

      &.drop {
        color: $color-error-3;
      }
      &.raise {
        color: $color-f6-1;
      }
    }

    #{$wnumber-prefix}-trend {
      margin-left: $s2;
    }
  }
  #{$wnumber-prefix}-bottomTitle {
    @include subTitle-font;
    font-size: 12px;
    margin-top: $s1;
  }
}
