@import "../../themes/index";
$wplaceholder-prefix: '.#{$base-prefix}-wplaceholder';

$height: 32px;

$item-height-1: 20px;
$item-height-2: 26px;
$item-height-3: 32px;

$fill: getVar(widgets-color-gray, $widgets-color-gray);
$color: getVar(widgets-color-disable, $widgets-color-disable);
$font-size: getVar(widgets-font-size-1, $widgets-font-size-1);

$gap-size: getVar(s2, $s2);

