.load-progress {
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 12px;
  margin-top: 22px;
  .load-progress-title {
    padding-top: 11px;
    margin: auto;
    font-size: 24px;
  }
  .load-progress-title-data {
    color: #0580F2;
    margin-left: 12px;
  }
  .orange-threshold {
    color: #faa732;
  }
  .red-threshold {
    color: #EF5350;
  }
  .load-progress-details {
    margin-top: 51px;
    display: flex;
    .load-progress-details-detail {
      flex: 1;
      border-left: 1px solid #D8D8D8;
      text-align: left;
      padding: 0 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      &:first-child {
        border-left: 0;
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0px;
        .load-progress-details-detail-data {
          right: 1px;
        }
      }
      .load-progress-details-detail-data {
        font-size: 20px;
        color: #0580F2;
      }
      .orange-threshold {
        color: #faa732;
      }
      .red-threshold {
        color: #EF5350;
      }
    }
    .load-progress-details-detail-left {
      padding-right: 60px;
      height: 45px;
      .load-progress-details-detail-pro-bg {
        height: 6px;
        width: 100%;
        background-color: #F2F3F7;
        border-radius: 3px;
        margin-top: 4px;
        .load-progress-details-detail-pro {
          height: 6px;
          width: 100%;
          border-radius: 3px;
          background-color: #0580F2;
          transition-property: width, background-color;
          transition-duration: 0.8s, 0.8s;
        }
        .orange-threshold {
          background-color: #faa732;
        }
        .red-threshold {
          background-color: #EF5350;
        }
      }
    }
    .load-progress-details-detail-data {
      position: absolute;
      right: 21px;
      top: 1px;
      transition: color 0.8s;
    }
  }
}