@import "~@alife/aisc-core/scss/aisc";

$font-family-number: DINMediumNumber, "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;
$font-family-txd-medium-number: TXDDINMediumNumber, "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;
$font-family-txd-regular-number: TXDDINRegularNumber, "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;

$font-size-large-number: 28px !default;
$font-size-xlarge-number: 32px !default;

// 字体大小 - 文字
$widgets-text-font-size-1: 12px !default;
$widgets-text-font-size-2: 14px !default;
$widgets-text-font-size-3: 16px !default;
$widgets-text-font-size-4: 18px !default;

// 字体大小 - 数字
$widgets-number-font-size-1: 12px !default;
$widgets-number-font-size-2: 14px !default;
$widgets-number-font-size-3: 16px !default;
$widgets-number-font-size-4: 24px !default;
$widgets-number-font-size-5: 28px !default;
$widgets-number-font-size-6: 32px !default;

// 移动端字体大小 - 文字
$widgets-mobile-text-font-size-1: 12px !default;
$widgets-mobile-text-font-size-2: 14px !default;
$widgets-mobile-text-font-size-3: 16px !default;
$widgets-mobile-text-font-size-4: 18px !default;

// 移动端字体大小 - 数字
$widgets-mobile-number-font-size-1: 14px !default;
$widgets-mobile-number-font-size-2: 14px !default;
$widgets-mobile-number-font-size-3: 14px !default;
$widgets-mobile-number-font-size-4: 20px !default;
$widgets-mobile-number-font-size-5: 24px !default;
$widgets-mobile-number-font-size-6: 28px !default;

// 纯颜色
$widgets-color-white: #FFFFFF !default;
$widgets-color-black: #000000 !default;

$widgets-color-text-1: #333333 !default;
$widgets-color-text-2: #666666 !default;
$widgets-color-text-3: #999999 !default;
$widgets-color-disable: #CCCCCC !default;

$widgets-color-blue: #25A4F5 !default;
$widgets-color-orange: #F9A825 !default;
$widgets-color-red: #EF5350 !default;
$widgets-color-green: #2CDFAB !default;
$widgets-color-gray: #E5E7E9 !default;

$widgets-color-category-1: $widgets-color-blue !default;
$widgets-color-category-2: $widgets-color-green !default;
$widgets-color-category-3: #896AFF !default;
$widgets-color-category-4: $widgets-color-red !default;
$widgets-color-category-5: $widgets-color-orange !default;
$widgets-color-category-6: #4081DC !default;
$widgets-color-category-7: #26C6DA !default;
$widgets-color-category-8: #555CE5 !default;
$widgets-color-category-9: #EF57CA !default;
$widgets-color-category-10: #07D7FE !default;
$widgets-color-category-11: #9E57E5 !default;
$widgets-color-category-12: #FF7842 !default;

$widgets-color-linear-1: $widgets-color-blue !default;
$widgets-color-linear-2: #7CC8F9 !default;
$widgets-color-linear-3: #D3EDFD !default;
$widgets-color-linear-4: #51B6F7 !default;
$widgets-color-linear-5: #A8DBFB !default;
$widgets-color-linear-6: #3AADF6 !default;
$widgets-color-linear-7: #66BFF8 !default;
$widgets-color-linear-8: #92D1FA !default;
$widgets-color-linear-9: #BDE3FC !default;
$widgets-color-linear-10: #E9F5FE !default;

$widgets-color-linear-turquoise-1: #52D7FF !default;
$widgets-color-linear-turquoise-2: #5FDAFF !default;
$widgets-color-linear-turquoise-3: #6EDEFF !default;
$widgets-color-linear-turquoise-4: #7CE1FF !default;
$widgets-color-linear-turquoise-5: #8AE4FF !default;
$widgets-color-linear-turquoise-6: #97E7FF !default;
$widgets-color-linear-turquoise-7: #A5EAFF !default;
$widgets-color-linear-turquoise-8: #B3EEFF !default;
$widgets-color-linear-turquoise-9: #C2F1FF !default;
$widgets-color-linear-turquoise-10: #CFF4FF !default;

// 图例 Legend
$widgets-legend-uncheck: #E9EDF0 !default;
$widgets-legend-text: #333333 !default;

// label
$widgets-label-text: #999999 !default;

// 提示信息 tooltip
$widgets-tooltip-background: #F7F9FB !default;
$widgets-tooltip-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2) !default;
$widgets-tooltip-cross-line: #C4C6CF !default;
$widgets-tooltip-cross-react: #E5E7E9 !default;
$widgets-tooltip-cross-react-opacity: 0.3 !default;
$widgets-tooltip-title: #999999 !default;
$widgets-tooltip-text: #333333 !default;
$widgets-tooltip-marker-fill: $widgets-color-white !default;
$widgets-tooltip-border: #D8D8D8;

// 轴 Axis
$widgets-axis-label: #999999 !default;
$widgets-axis-line: #E5E7E9 !default;
$widgets-axis-grid: #F2F3F7 !default;

// 业务颜色
$widgets-mini-card-empty: #2F3244 !default;
$widgets-circle-number: currentColor !default;

// 地图特有
$widgets-map-area-bg: #2F3244 !default;
$widgets-map-area-border: #252837 !default;
$widgets-map-label: #ABADBA !default;

// 卡片
$widgets-container-background: $widgets-color-white !default;
$widgets-container-padding: 20px !default;
$widgets-mobile-container-padding: 12px !default;
$widgets-container-title: #333333 !default;
$widgets-container-split-line: #E5E7E9 !default;

// 桑基图
$widgets-sankey-edge: #E5E7E9 !default;
$widgets-sankey-node-text: #999999 !default;

// 表格颜色
$widgets-table-header: #ECF4FF !default;
$widgets-table-body-zebra: #F5F9FE !default;
$widgets-table-split: #ECF4FF !default;

// 滚动条颜色
$widgets-scrollbar-bg: #EBECF0 !default;
$widgets-scrollbar-thumb: #C4C6CF !default;
