@import "~@alife/aisc-core/scss/aisc";

$font-family-number: DINMediumNumber, "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;
$font-size-large-number: 28px;
$font-size-xlarge-number: 32px;