@import "../../theme/normal";
$wicon-prefix: '.aisc-wicon';

$gray: $widgets-color-gray;
$blue: $widgets-color-blue;
$orange: $widgets-color-orange;
$red: $widgets-color-red;
$green: $widgets-color-green;