@import "themes/index";

$font-path-m: '../font/txddinmedium' !default;
$font-path-r: '../font/txddinregular' !default;

/* Widgets 专用字体，仅包含20个字符 */
@font-face {
  font-family: "TXDDINMediumNumber";
  src: url("#{$font-path-m}/txddinmedium.eot"); /* IE9 */
  src: url("#{$font-path-m}/txddinmedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("#{$font-path-m}/txddinmedium.woff") format("woff"), /* chrome、firefox */
  url("#{$font-path-m}/txddinmedium.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
  url("#{$font-path-m}/txddinmedium.svg#fonteditor") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "TXDDINRegularNumber";
  src: url("#{$font-path-r}/txddinregular.eot"); /* IE9 */
  src: url("#{$font-path-r}/txddinregular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("#{$font-path-r}/txddinregular.woff") format("woff"), /* chrome、firefox */
  url("#{$font-path-r}/txddinregular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
  url("#{$font-path-r}/txddinregular.svg#fonteditor") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

/* 全局公用样式 */
.#{$base-name} {
  canvas {
    position: relative;
    display: block;
  }

  &.widgets-error-info {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-size: 1em;
    color: getVar(widgets-color-red, $widgets-color-red);
  }

  //.widgets-reset-button {
  //  position: absolute;
  //  z-index: 1;
  //  padding: 4px;
  //
  //  font-size: 12px;
  //  color: getVar(widgets-color-blue, $widgets-color-blue);
  //  background: getVar(widgets-color-background, $widgets-color-background);
  //
  //  border: 1px solid getVar(widgets-color-gray, $widgets-color-gray);
  //  border-radius: 2px;
  //
  //  cursor: pointer;
  //  user-select: none;
  //}

  // .g2-tooltip-item-value {
  //   margin-left: getVar(s2, $s2);
  // }

  ::-webkit-scrollbar {
    background: getVar(widgets-scrollbar-bg, $widgets-scrollbar-bg);
    width: 8px;
    height: 8px;
    padding: 0 3px;
    // border-radius: 3px;
  }
  ::-webkit-scrollbar-corner {
    background: getVar(widgets-scrollbar-bg, $widgets-scrollbar-bg);
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: getVar(widgets-scrollbar-thumb, $widgets-scrollbar-thumb);
    border-radius: 3px;
  }
}
