@import "~@alife/aisc-core/scss/aisc.scss";
@import "~@alife/aisc/lib/icon/style/index.scss";
@import "./scss/mixin.scss";
@import "./scss/variable.scss";

#{$wicon-prefix} {
  >.next-icon {
    @include icon-handler(38px);
    color: $color-b1-6;
  }
  #{$wicon-prefix}-icon {
    background-color: #2a8eec;
  }

  #{$wicon-prefix}-title {
    display: inline-block;
    padding: 0 8px;
    color: #aaa;
    line-height: 40px;
    vertical-align: top;
  }
}

