@import "~@alife/aisc-core/scss/aisc.scss";
@import "~@alife/aisc/lib/icon/style/index.scss";
@import "./scss/mixin.scss";
@import "./scss/variable.scss";

#{$wicon-prefix} {
  &.next-icon {
    &#{$wicon-prefix}-big {
      @include icon-handler(38px);
    }
    &#{$wicon-prefix}-small {
      position: absolute;
      top: 10px;
      left: -12px;
      @include icon-handler(12px);
    }
    color: $color-b1-6;
  }
}

