@import "./scss/mixin.scss";
@import "./scss/variable.scss";

#{$wminicontainer-prefix} {
  background: $wminicontainer-bg-color;
  padding-top: 20px;
  border-radius: $wcontainer-corner-radius;

  // 移动端适配
  &#{$wminicontainer-prefix}-mobile {
    padding-top: 12px;
  }
}

#{$wminicontainer-prefix}-blue{
  @include wminicontainer-box-border-top($blue);
}
#{$wminicontainer-prefix}-orange{
  @include wminicontainer-box-border-top($orange);
}
#{$wminicontainer-prefix}-red{
  @include wminicontainer-box-border-top($red);
}
