.p2c-line{
  /* highchart hack */
  .highcharts-tooltip>span{
    background: rgba(255,255,255,0.8);
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.4);
    padding: 8px;
    border-radius: 2px;
  }
  .highcharts-tooltip h5{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #999;
    line-height: normal;
  }
  .highcharts-tooltip ul{
    list-style: none;
  }
  .highcharts-tooltip li{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333;
    span{
      margin-left: 8px;
    }
    margin-top: 4px;
  }
  .highcharts-tooltip li i{
    width: 6px;
    height: 6px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    border-radius: 50%;
  }

  .p2c-title{
    font-size: 16px;
    font-family: "PingFang SC", "Microsoft Yahei";
    // margin-bottom: 8px;
    height: 26px;

    h4{
      font-weight: normal;
      font-size: 16px;
      color: #333;
      display: inline-block;
      margin-right: 8px;
    }

    h5{
      font-weight: normal;
      font-size: 12px;
      color: #989898;
      display: inline-block;
    }

  }
  .p2c-legend{
    position: absolute;
    // left: 0;
    // bottom: 0;
    // width: 100%;
    right: 0;
    top: 0;

    ul{
      display: block;
      line-height: initial;
      //margin-bottom: 8px;
      //text-align: center;
    }

    li{
      list-style: none;
      display: inline-block;
      margin-right: 12px;
      font-size: 12px;
      font-family: "PingFang SC", "Microsoft Yahei";
      cursor: pointer;
      color: #333;
      &:last-child{
        margin-right: 0px;
      }
    }
    li>i{
      display: inline-block;
      vertical-align: baseline;
      width: 6px;
      height: 6px;
      margin-right: 4px;
      border-radius: 50%;
    }
    li.p2c-legend-hidden i{
      background-color:  #DDDDDD!important;
    }
    li.p2c-legend-hidden span{
      color: #DDDDDD!important;
    }
  }
}
